@import '../../styles/global';
.container-task{
  box-sizing: border-box;
  width: 100%;
  height: 4rem;
  background-color: rgba(145, 85, 253, .12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  color: rgba(94, 86, 105, .87);
  font-weight: 500;
  border-radius: .5rem;
  margin-bottom: 1rem;
}
.container-task.completed{
  color: #9155fd;
  text-decoration: line-through;
  font-weight: 600;
}
.task-text{
  font-size: 2rem;
  margin: 0;
}
.task-icon{
  display: flex;
}
.icon{
  font-size: 2.5rem;
}