@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

$anchor-base: #9155fd;
$primary-base: #9155fd;
$secondary-base: #8a8d93;
$accent-base: #0d6efd;
$error-base: #ff4c51;
$info-base: #16b1ff;
$success-base: #56ca00;
$warning-base: #ffb400;

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  background-color: #f4f5fa;
}