@import './global';
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.title{
  color: #736c7c;
  font-size: 3rem;
  font-weight: 600;
  list-style: 3rem;
  margin: 1rem;
}

.list_task{
  max-width: 600px;
  min-height: 500px;
  background-color: #fff;
  border-radius: .6rem;
  padding: 1.5rem;
  //box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 10px 0 rgb(94 86 105 / 10%);
  & > h3{
    font-size: 1.6rem;
    font-weight: 500;
    color: #736c7c;
  }
}

@media (min-width: 550px) {
  .list_task {
    width: 100%;
    padding: 2.5rem;
  }
}